/**********
* JIW CSS Files
* Developer: Louie Rosero
* Website: http://louierosero.github.io/
* Version: 1.0
**********/

/*  Google Font - Roboto */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,500italic,500,400italic);

/* General */
html, body {
	font-family: 'Roboto', sans-serif;
	height: 100%;
	background-image: url(../img/home.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/* navbar *//*E91E63*/
.navbar-default {
    background-color: #df3554;
    border-color: #E7E7E7;
}
/* title */
.navbar-default .navbar-brand {
    color: #fff;
	padding: 5px 15px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #fff;
	font-size: 16px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
	background-color: #C2185B;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #C2185B;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #C2185B;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}

/* responsive menu */
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #C2185B;
}

.navbar-default .navbar-toggle {
	color: #fff;
	border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

/* homepage */
#home {
	/*background-image: url(../img/home.jpg);
	background-size: cover;
	background-position: center;*/
	height: 100%;
}

#homepage .container {
	overflow: hidden;
}

/*#home .container > .intro {
	padding: 16% 10% 0;
	color: #fff;
	font-weight: bold;
	font-size: 72px;
	margin-bottom: 20px;
}*/

#home .verse, .verse-desc {
    color: #fff;
}

#home .verse {
    margin-top: 240px;
    font-size: 100px;
    font-weight: bold;
}

#home .verse-desc {
    font-size: 24px;
    margin-bottom: 20px;
}

#home .container > a {
	text-decoration: none;
}

/* about-us */
#about {
	background-color: #fff;
	padding: 50px 25px 25px;
	margin-bottom: 50px;
	
}

#about .row .jiw> h2 {
	line-height: 20px;
}

#about .row .jiw > h2 > span {
	font-size: 14px;
}

#about .row .jiw > p {
	font-size: 18px;
	text-align: justify;
}

#about .row .mission,
#about .row .vision {
	padding-bottom: 25px;
}

#about .row .mission > p,
#about .row .vision > p {
	font-size: 18px;
	margin: 0 auto;
}

#about .row .core-values {
	font-size: 18px;
	text-align: justify;
}

#about .row .core-values > h2,
#about .row .strategy > h2,
#about .row .goal-and-purpose > h2,
#about .row .office > h2
 {
	background-color: #00aeef;
	color: #fff;
	padding: 6px 10px;
}

#about .row .core-values > dl {
	padding-left: 10px;
}
#about .row .core-values dl > dd {
	padding: 0 0 20px 20px;
}

#about .row .core-values dl > dd:last-child {
	padding: 0 0 0 20px;
}



#about .row .strategy, .goal-and-purpose, .office {
	text-align: justify;
	font-size: 18px;
}

/* sermons */
#sermons {
	margin: 80px auto 50px;
	background-color: #fff;
}

#sermons .row .col-sm-4 > h3 {
	text-align: center;
	background-color: #00aeef;
	padding: 10px;
	color: #fff;
}

#sermons .row .col-sm-4 > img {
	height: 100%;
	width: 100%;
}

#sermons .row .col-sm-4 .text-center > a {
	background-color: #fff; 
	font-weight: bold;
	color: #C2185B;
	margin: 10px 0;
	width: 48%;
}

#sermons .row .col-sm-4 .text-center > a:first-child {
	background-color: #E91E63;
	color: #fff;
	
}

#sermons .row .col-sm-4 .text-center > a:nth-child(2):hover {
	background-color: #E91E63;
	color: #fff;
	
}

#sermons .row .col-sm-4 .text-center > a:first-child {
	margin-right: 2%;
}

/* photos */
#photos {
	padding-top: 80px;
}

#photos > .row {
	margin-bottom: 50px;
	background-color: #fff;
	padding: 5px;
}

#photos .row > .col-sm-2 {
	padding: 2px;
}

#photos .row > h1 {
	padding: 10px;
	color: #fff;
	background-color: #00aeef;
	margin: 1px 0 4px;
	/*width: 100%;  70% */
}

/* videos */
#videos {
	padding-top: 80px;
	padding-bottom: 20px;
}

#videos .row .presentation {
	background-color: #fff;
	margin-bottom: 30px;
	padding: 8px 0 10px;
}

#videos .row .presentation:last-child {
	margin-bottom: 0;
}

#videos .row .presentation > h2:first-child {
	padding-top: 0;
}

#videos .row .presentation > h2 {
	font-size: 32px;
	font-weight: bold;
	padding-top: 25px;
	margin-bottom: 0;
}

#videos .row .presentation > p {
	font-size: 18px;
}

#videos .row .presentation .col-sm-4 > p {
	display: none;
}

/*  footer */
#footer {
	color: #848484;
	background-color: #212121;
}

#footer > p {
	margin: 10px auto 5px;
}


/*******************************************
========MEDIA QUIIRIES==========
*******************************************/

/*******************************************
========HOME PAGE=============
*******************************************/

/*===Galaxy Nexus 7 Screensize===*/
@media only screen and (min-width:534px) and (max-width:603px) {
	#home .verse {
		margin-top: 210px;
		font-size: 92px;
	}

	#home .verse-desc {
		font-size: 24px;
	}
}

/*===Kindle Fire HD 7 Screensize===*/
@media only screen and (min-width:481px) and (max-width:533px) {
	#home .verse {
		margin-top: 210px;
		font-size: 82px;
	}

	#home .verse-desc {
		font-size: 22px;
	}
}

/*===Galaxy Note 4 Screensize===*/
@media only screen and (min-width:413px) and (max-width:480px) {
	#home .verse {
		margin-top: 210px;
		font-size: 68px;
	}

	#home .verse-desc {
		font-size: 20px;
	}
}

/*===Nexus 6 Screensize===*/
@media only screen and (min-width:376px) and (max-width:412px) {
	#home .verse {
		margin-top: 210px;
		font-size: 60px;
	}

	#home .verse-desc {
		font-size: 18px;
	}
}

/*===iPhone 6 Screensize===*/
@media only screen and (min-width:361px) and (max-width:375px) {
	#home .verse {
		margin-top: 210px;
		font-size: 56px;
	}

	#home .verse-desc {
		font-size: 18px;
	}
}

/*===Galaxy S6 Screensize===*/
@media only screen and (min-width:321px) and (max-width:360px) {
	#home .verse {
		margin-top: 210px;
		font-size: 48px;
	}

	#home .verse-desc {
		font-size: 18px;
	}
}

/*===iPhone 5 Screensize===*/
@media only screen and (min-width:321px) and (max-width: 325px) {
	/*=Main Menu=*/
	.navbar-default .navbar-brand {
		padding: 5px 12px;
	}
}

@media only screen and (max-width:320px) {
	/*=Main Menu=*/
	.navbar-default .navbar-brand {
		padding: 5px 10px;
	}

	#home .verse {
		margin-top: 200px;
		font-size: 48px;
	}

	#home .verse-desc {
    font-size: 16px;
	}
}

/*===Minimum Size of the Browser===*/
@media only screen and (min-width:306px) and (max-width: 315px) {
	/*=Main Menu=*/
	.navbar-default .navbar-brand {
		padding: 5px 5px;
	}
}

@media only screen and (min-width:299px) and (max-width: 305px) {
	/*=Main Menu=*/
	.navbar-default .navbar-brand {
		padding: 5px 0;
	}

	#home .verse {
		margin-top: 200px;
		font-size: 44px;
	}

	#home .verse-desc {
    font-size: 14px;
	}
}

/*******************************************
========ABOUT PAGE============
*******************************************/

/*===iPhone 5 Screensize===*/
@media only screen and (max-width:320px) {

	#about .row .jiw> h2,
	#about .row .core-values > h2,
	#about .row .strategy > h2,
	#about .row .goal-and-purpose > h2,
	#about .row .office > h2 {
		font-size: 28px;
	}
	
	#about .row .jiw h2 > span {
		font-size: 12px;
	}
	
	#about .row .jiw> h3 {
		font-size: 20px;
	}
	
	#about .row .jiw > p {
		font-size: 15px;
		text-align: justify;
	}
	
	#about .row .mission > p,
	#about .row .vision > p,
	#about .row .core-values,
	#about .row .core-values > p,
	#about .row .strategy > p,
	#about .row .goal-and-purpose > p,
	#about .row .office > p {
		font-size: 15px;
	}
}	
/*===Minimum Size of the Browser===*/
@media only screen and (min-width:299px) and (max-width: 319px) {
	
	#about .row .jiw> h2,
	#about .row .core-values > h2,
	#about .row .strategy > h2,
	#about .row .goal-and-purpose > h2,
	#about .row .office > h2 {
		font-size: 26px;
	}
	
	#about .row .jiw h2 > span {
		font-size: 12px;
	}
	
	#about .row .jiw> h3 {
		font-size: 19px;
	}
}

/*******************************************
========SERMONS PAGE==========
*******************************************/

/*===iPhone 5 Screensize===*/
@media only screen and (max-width:320px) {
	#sermons .row .col-sm-4 > h3 {
		font-size: 20px;
	}
}

@media only screen and (min-width:768px) and (max-width: 991px) {
	#sermons .row .col-sm-4 .text-center > a {
		font-size: 12px;
	}
} 

/*******************************************
========PHOTOS PAGE==========
*******************************************/

@media only screen and (max-width:320px) {
	#photos .row > h1 {
		font-size: 30px;
	}
}

/*******************************************
========VIDEOS PAGE==========
*******************************************/

@media only screen and (max-width:320px) {
	#videos .row .presentation > h2 {
		font-size: 28px;
	}
}

@media only screen and (min-width:299px) and (max-width: 800px) {
	#videos .row .presentation > p,
	#videos .row .presentation .col-sm-4 > p {
		font-size: 15px;
	}
	
	#videos .row .presentation .col-sm-4 > p {
		display: block;
		border: 1px solid gray;
		padding: 3px;
	}
}